/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    header {
        text-align: center;
    }

    nav {
        text-align: center;
        padding: 10px;

        a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            &:focus {
                background-color: aqua;
            }
        }
        
    }
}
